# ==========================================
# ⚙️ Application Settings
# ==========================================
APP_PROFILE=prod
APP_PORT=9000

# ==========================================
# 🐘 PostgreSQL Settings
# ==========================================
DB_NAME=restdb
DB_USER=restuser
DB_PASS=restpass_super_secret
DB_PORT_EXTERNAL=5432

# ==========================================
# 🪣 MinIO Settings
# ==========================================
MINIO_USER=minioadmin
MINIO_PASS=minioadmin_super_secret
MINIO_BUCKET=images
MINIO_API_PORT_EXTERNAL=9100
MINIO_CONSOLE_PORT_EXTERNAL=9101

# ==========================================
# 🚇 Cloudflare Tunnel
# ==========================================
CLOUDFLARE_TUNNEL_TOKEN=ey...ใส่_Token_ของคุณตรงนี้...
