<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="signin-form">

  <form th:action="@{/signin}" method="post" class="space-y-5">
    <div th:if="${param.error}" class="p-4 bg-red-50 text-red-500 rounded-lg text-sm font-bold text-center border border-red-100">
      ชื่อผู้ใช้หรือรหัสผ่านไม่ถูกต้อง
    </div>

    <input
      type="text"
      name="username"
      class="w-full p-4 rounded-lg border focus:outline-none focus:ring-2 focus:ring-[#0175CC]"
      placeholder="Username"
      required
    />

    <input
      type="password"
      name="password"
      class="w-full p-4 rounded-lg border focus:outline-none focus:ring-2 focus:ring-[#0175CC]"
      placeholder="Password"
      required
    />

    <button
      type="submit"
      class="w-full bg-[#FF6A00] text-white font-bold p-4 rounded-lg hover:opacity-90 transition shadow-sm"
    >
      เข้าสู่ระบบ
    </button>

  </form>

  </div>

</body>
</html>
