<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/main :: layout (~{::title}, ~{::section})}"
>
  <head>
    <title>Home - I BUILD CPU</title>
  </head>

  <section>
    <div
      th:replace="~{fragments/productCard :: category-nav(${categories}, ${activeCategoryId})}"
    ></div>

    <div th:if="${categories != null}">
      <div th:each="category : ${categories}" th:if="${activeCategoryId ==null||category.id == activeCategoryId}" class="py-10">
        <div
          th:if="${activeCategoryId == null || category.id == activeCategoryId}"
        >
          <div
            th:replace="~{fragments/productCard :: category-title(${category})}"
          ></div>

          <div
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8"
          >
            <div
              th:each="product : ${category.products}"
              th:if="${product != null }"
            >
              <div
                th:replace="~{fragments/productCard :: product-card(${product})}"
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</html>
